* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
    color: #1E1E1E;
}

.dark-mode {
    background-color: #1E1E1E !important;
    color: #F9F9F9 !important;
}

.dark-mode-card {
    background-color: #2c2c2c !important;
    color: #F9F9F9 !important;
}


.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #E0E0E0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo h2 {
    color: #2563ed;
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.logo img {
    width: 15%;
}

.menu {
    filter: invert(100%);
}

.desktop-cabecalho {
    display: none;   
}

.moon {
    display: none;
}

/* Estarei colocando padding no main para
    centralizar o conteudo e padronizar */
main {
    padding: 0 15px;
}

.principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    margin-top: 40px;
}

.principal h1 {
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.principal p {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    opacity: 60%; /* 60% de opacidade do texto*/
}

.cursos {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.cursos h3 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 2rem;
}

.cursos p {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 60%; /* 60% de opacidade do texto*/
}

.pack-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 40px;
}

.imagem-card {
    height: 200px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.descricao {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descricao h4 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.descricao p {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.descricao a {
    text-decoration: none;
    color: white;
    background-color: #005FA3;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.descricao a:hover {
    background-color: #3b82f6;
}

.horas {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.local {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.section-matricula {
    margin-top: 3rem;
}

.section-matricula h3 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.matricula {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

.matricula h4 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
}

.formulario-matricula {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.packcard-matricula {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.packcard-matricula input {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 10px;
}

.packcard-curso {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.packcard-curso select {
    border: 0.2px solid #E0E0E0;
    border-radius: 5px;
    padding: 10px;
}

.button-matricula {
    color: white;
    background-color: #005FA3;
    padding: 6px 100px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.button-matricula :hover {
    background-color: #3b82f6;
}

.areas-conhecimento {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.areas-conhecimento h4 {
    padding: 0 20px;
    margin-bottom: 10px;
}

.areas-conhecimento nav {
    padding: 0 20px;
}

.areas-conhecimento nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.areas-conhecimento nav ul li {
    text-decoration: none;
    list-style: none;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 0 15px;
    margin-top: 7rem;
}

.information-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.information-footer h4 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.information-footer p {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    opacity: 60%;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.telefone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.contact-footer h4 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.contact-footer p {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 60%;
}

.social-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-top: 10px;
}

.social-footer nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.social-footer nav ul li {
    list-style: none;
}

.social-footer h4 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 21px;
}

.copyright-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 2.5rem;
}

.copyright-footer img {
    width: 5%;
}

.copyright-footer p {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    opacity: 60%;
    text-align: center;
    padding: 15px 0 0 ;
}

.toogle {
    padding: 7px 7px;
    background-color: #005FA3;
    border-radius: 20%;
    position: fixed;
    right: 1rem;
    bottom: 0.2rem;
    cursor: pointer;
}